.title {
    margin-top: 61px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;

    color: $color-black;
}

.wrapper {
    display: flex;
    gap: 100px;

    .section1 {
        margin-top: 150px;
        margin-left: -295px;

        display: flex;
        flex-direction: column;

        .select__cattegories {
            border: none;
        }

        .select__cattegories:focus-visible {
            outline: none;
        }

        .select_margin {
            margin-top: 15px;
        }
            
        .subtitle {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }
    
        .all_boards {
            margin-top: 26px;
    
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;

            color: $color-darkgray;
        }

        .view_more {
            margin-top: 74px;
            border: none;
            color: black;

            border-bottom: 1px solid $color-black;
            padding-bottom: 11px;
        }

        .view_more:focus-visible {
            outline: none;
        }
    }

    .section2 {
        margin-top: 150px;

        &__products {


            .product {
                max-width: 240px;
                text-align: center;

                .snowboard1 {
                    padding-bottom: 20px;
                }

                &__descr {
                    text-align: left;

                    font-family: 'Open Sans';
                    font-style: normal;

                    margin-bottom: 15px;

                    line-height: 19px;

                    .bold {
                        font-weight: bold;
                    }

                    .darkgray {
                        color: $color-darkgray;
                    }
                }

                .elements {
                    display: flex;
                    justify-content: space-between;
        
                    .price_sale {
                        display: flex;
                        gap: 10px;
                    }
        
                    .price {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                    }
        
                    .sale {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 19px;
                        color: $color-darkgray;
                        text-decoration: line-through;
                    }
                }
            }

        }
    }
}